<a href="https://colab.research.google.com/github/janvincentvallente/CPEN-21A-CPE-1-2/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Introduction to Python

##Python Indentation

In [35]:
if 5>2:
  print("five is greater than two")

five is greater than two

In [36]:
x = 2       #This is a single variable with single value
x,y = 1,2   #This are two variables with two different values
x,y,z = 1,2,3
print(x)
print(y)
print(z)

1
2
3

In [37]:
x,y = "four",2
x
y
x

'four'

##Python Comments

In [33]:
#This is a comment
print("Hello, I am JV")

Hello, I am JV

##Variable Naming Conventions

In [45]:
myvar="Vincent"
print(myvar)

Vincent

## Casting

In [31]:
b = "sally"   #This is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

## Type Function

In [32]:
x = 5
y = 'John'  #This is a type of string
h = "ana"
H  = 'Ana'
print(type(x))
print(type(y))
print (h)
print (H)

<class 'int'>
<class 'str'>
ana
Ana

##Multiple Variables

In [38]:
x, y, z= "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

###One Value to Multiple Variables

In [10]:
x = y = z = 'four'
print(x)
print(y)
print(z)

four
four
four

##Output Variables

In [14]:
x = 'enjoying'
print("Python programming is " + x)

Python programming is enjoying

##Arithmetic Operations

In [42]:
x = 5
y = 3
print(x+y)

8

In [16]:
x = 11
y = 12
z = 13
print(x+y+z)

36

##Assignment Operators

In [17]:
x+=3  #This is the same as x = x + 3
print(x)

14

In [20]:
y+=5
print(y)

17

##Comparison Operators

In [44]:
x>y
x<y

False

##Logical Operators

In [24]:
x<y and x!=x

False

In [26]:
x>y or y==z

False

In [28]:
not(print(x>y))

False

True

In [29]:
print (x is y)
print (x is not z)

False
True