<a href="https://colab.research.google.com/github/janvincentvallente/CPEN-21A-CPE-1-2/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [2]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The Break Statement

In [3]:
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [4]:
#The break statement
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping Through String

In [5]:
for x in "Programming in Python":
  print(x)

P
r
o
g
r
a
m
m
i
n
g

i
n

P
y
t
h
o
n

The Range() Function

In [6]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

Nested Loops

In [7]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While Loop

In [10]:
i = 10
while i>6:
  print(i)
  i-=1  #Assignment operator for subtraction, i=i-1

10
9
8
7

The Break Statement

In [12]:
i = 10
while i>6:
  print(i)
  if i==8:
    break
  i-=1

10
9
8

The Continue Statement

In [16]:
i = 10
while i>6:
  i-=1
  if i==8:
    continue
  print(i)

9
7
6

The Else Statement

In [18]:
i = 10
while i>6:
  i-=1
  print(i)
else:
  print("i is no longer greater than 6")

9
8
7
6
i is no longer greater than 6

Application 1

In [38]:
#For loop
a = ["Value"]
number = [0,1,2,3,4,5,6,7,8,9,10]

for x in a:
  for y in number:
    print(x,y)

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

In [28]:
#While loop
i = -1
while i<10:
  i+=1
  print("Value", i)
  if i==10:
    break

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

Application 2

In [21]:
 #While loop
 i = 20
 while i>3:
   i-=1
   print(i)
   if i==4:
     break
#else:
    #print("i is no longer greater than 3")

19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4